node_modules
.git
.gitignore
**/*.log

# backups e arquivos grandes
backups
**/*.zip

# coisas comuns de mobile (ajuste se existir no seu repo)
android
ios
**/android
**/ios
*.apk
*.aab

# cache/build
dist
build
.tmp
.cache
